html,
body {
    margin: 0;
    padding: 0;

}

.coffe {

    left: 880px;
    position: absolute;
    bottom: 48px;
    right: 40px;
    top: 138px;
}


.Goto {
    color: white;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.86;

}

.callus {
    width: 200px;
    height: 24px;
}




nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    background: black;
    padding: 12px 40px;
    color: white;

    height: 64px;
    font-style: normal;
    align-items: center;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.86;
    bottom: 24px;
    top: 24px;

}



.description {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-basis: content;
    height: 486px;
    background: #E3DED74D 30%;


}

h1 {

    line-height: 44px;
    width: 588px;
}

#model {
    height: 50px;
    width: 600px;
}

#title,
.declaration,
#model {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: inherit;
    overflow-wrap: normal;
    align-items: flex-start;



}

#declaration,
h3 {
    font-size: 40px;

}

#image {
    border-radius: 20px;
    left: 800px;
    align-items: center;
}

#imageofcofferecolecting {
    display: flex;
    align-items: flex-end;
    left: 700px;
    margin-left: 700px;

}

div.separador {
    display: flex;
    justify-content: center;
    background: black;
    gap: 32px;


}

div.phone {
    gap: 64px;
}


.Descripción .novelty .faq .cometous .contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#title {
    left: 40px;
    color: green;
}



.coffeecards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    background-image: url(https://s3-alpha-sig.figma.com/img/03a7/c79a/086aa1e226e5adfe010fd0fb3ff3e2cb?Expires=1685318400&Signature=CAlTit-JRAZrKabAm3GraaDpYhg3X0NGEEiH3QjpG96AmlsdEuz1H4N3ZFr-Y7uhCN-Ow7QXE20v18NxhYYx53i7koCVJUVRrLJ7llo8WvKunZequToJotQtdJ5WtH7PJeoImwJD2SbHN3v2wznyD10Pwg6f5qcc6nd4Q9KE6V-hBi0MVRuiudWWJyKpCBU3sPybGZt0dVlOFTKZFD6vnOkfSOIwnKozq3Rcx5uf1DrwFTm3botGQOe2xrpk-9w2l46CLbHpQiKQpaHEm8F5B-ydPB1pSWTtEU1Uvg2cfX94pvXdpj1ur8ONvGa71v1YeObFg4gbb7xBMd8LNwPl1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    
    background-position: center center;
    min-height: 60vh;
    padding: 40px;
    left: 40px;
    align-content: flex-start;

}

article.coffeecardsconditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 486px;
    padding: 48px 40px;
    width: 40px;
    left: 10px;
    flex: content;
    
    column-gap: 16px;
}

.procedencia {
    background-color: black;
    color: white;
    width: 168px;
    justify-content: center;
}

#shop {
    background-color: #2A5B45;
}

.procedencia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 30px;
}

#procedencia {
    width: 168px;
    height: 40px;
}




.coffeecardsText{
    color: #FFFFFF;
}

.buttonforbuying {
    width: 64px;
    height: 64px;
    background-color: #2A5B45;
    border-radius: 20px;
    position: absolute;
    bottom: 230px;
    border: #FFFFFF;
}

.novelty {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 486px;
}

section.novedades {
    display: flex;
    flex-direction: row;
    flex: none;
    height: 348px;
}

/* p.product {
    color: white;
    font-size: 24px;
    line-height: 28px;
    text-align: initial;
    height: 240px;
    left: 200px;
    position: relative;
    bottom: 100px;
} */

.FAQ {
    background-color: #2A5B45;
}

div.coffeecard {
    width: 316px;
    height: 300px;
    left: 10px;
    position: relative;
    left: 20px;
    background-color: #FFFFFF;
    column-gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

div.sending {
    width: 316px;
    height: 232px;
}

div.benefits {
    width: 316px;
    height: 232px;
}


footer {
    width: auto;
    background-color: black;
    height: 310px;
}

#copyrightfooter {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    bottom: 10px;
    top: 240px;
}

.divisor {
    width: 620px;
    border: 1px solid #E3DED7;
}

/* .Contactus, aside{
    display: flex;
} */